MySoapClient/src/main/resources/mysoapws.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://services.bank.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.bank.com/"
	name="BankServiceImplService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://services.bank.com/"
				schemaLocation="http://localhost:8888/ws/account?xsd=1" />
		</xsd:schema>
	</types>
	<message name="withdraw">
		<part name="arg0" type="tns:acctInfo" />
	</message>
	<message name="withdrawResponse">
		<part name="return" type="tns:acctInfo" />
	</message>
	<message name="getAcctSummary">
		<part name="arg0" type="xsd:int" />
	</message>
	<message name="getAcctSummaryResponse">
		<part name="return" type="tns:acctInfo" />
	</message>
	<message name="deposit">
		<part name="arg0" type="tns:acctInfo" />
	</message>
	<message name="depositResponse">
		<part name="return" type="tns:acctInfo" />
	</message>
	<portType name="BankServiceIfc">
		<operation name="withdraw">
			<input wsam:Action="http://services.bank.com/BankServiceIfc/withdrawRequest"
				message="tns:withdraw" />
			<output wsam:Action="http://services.bank.com/BankServiceIfc/withdrawResponse"
				message="tns:withdrawResponse" />
		</operation>
		<operation name="getAcctSummary">
			<input
				wsam:Action="http://services.bank.com/BankServiceIfc/getAcctSummaryRequest"
				message="tns:getAcctSummary" />
			<output
				wsam:Action="http://services.bank.com/BankServiceIfc/getAcctSummaryResponse"
				message="tns:getAcctSummaryResponse" />
		</operation>
		<operation name="deposit">
			<input wsam:Action="http://services.bank.com/BankServiceIfc/depositRequest"
				message="tns:deposit" />
			<output wsam:Action="http://services.bank.com/BankServiceIfc/depositResponse"
				message="tns:depositResponse" />
		</operation>
	</portType>
	<binding name="BankServiceImplPortBinding" type="tns:BankServiceIfc">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="withdraw">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://services.bank.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://services.bank.com/" />
			</output>
		</operation>
		<operation name="getAcctSummary">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://services.bank.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://services.bank.com/" />
			</output>
		</operation>
		<operation name="deposit">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" namespace="http://services.bank.com/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://services.bank.com/" />
			</output>
		</operation>
	</binding>
	<service name="BankServiceImplService">
		<port name="BankServiceImplPort" binding="tns:BankServiceImplPortBinding">
			<soap:address location="http://localhost:8888/ws/account" />
		</port>
	</service>
</definitions>